/*---------- ESTRUTURA
----------------------------------------*/
html {
	background: #f5f5f5;
	overflow-x: hidden;
}

body {
	font: 10px/1.2em 'Chivo', sans-serif;
}

.wharper {
	position: relative;
	width: 978px;
	margin: 0 auto;
}

hr {
	display: none;
}

/*---------- REGRAS PARA CLASSES DO WODPRESS
----------------------------------------*/
.alignright {
	float: right;
	margin: 0 0 15px 15px;
}

.alignleft {
	float: left;
	margin: 0 15px 15px 0;
}

.aligncenter {
	float: left;
	margin: 2% 15%;
}

.wp-pagenavi {
	float: left;
	margin: 20px 0;
}

/*---------- REGRAS GERAIS
----------------------------------------*/
.left {
	float: left !important;
}

.right {
	float: right !important;
}

.clear {
	clear: both !important;
}

/*---------- TIPOGRAFIAS
----------------------------------------*/
P {
	font: 1.4em/1.5em 'OpenSansRegular', sans-serif;
	color: #333;
}

a {
	color: #CD3333;
}

a:hover {
	color: #FF4500;
}

h2 {
	font: bold 3.5em/1.2em 'Coming Soon',arial,sans-serif;
	color: #FF0000;
}

	h2 a {
		font: 2.1em/1.5em "OpenSansRegular", Arial, Helvetica, Geneva, sans-serif;
		letter-spacing: -2px;
	}

h3 {
	font: bold 1.5em/1.2em 'Coming Soon',arial,sans-serif;
	color: #333;
	
}

/*---------- HEADER
----------------------------------------*/
.header {
    background: none repeat scroll 0 0 #F5F5F5;
    border-bottom: 1px solid #CCCCCC;
    float: left;
    height: 219px;
    margin: 0 0 20px;
    padding: 20px 0 0;
    width: 100%;
}

.logo {
	float: left;
	width: 315px;
}

	.logo a {
	    background: url("../imagens/logo.jpg") no-repeat scroll left top #F5F5F5;
	    float: left;
	    font: 2em/1.5em "Chivo",Arial,Helvetica,Geneva,sans-serif;
	    height: 109px;
	    margin: 0 0 10px 55px;
	    text-indent: -9999px;
	    width: 187px;
	    margin: 0 0 10px 50px;
	}
	
	.logo span {
		display: block;
		float: left;
		font: 1em/1.5em "Chivo", Arial, Helvetica, Geneva, sans-serif;
	}

.busca {
    position: absolute;
    right: 0;
    top: 60px;
    width: 300px;
}


.webdoor {
	float: left;
	margin: 20px 0 30px 0;
	width: 978px;
}

	.webdoor ul {
		float: left;
		width: 100%;
	}
	
		.webdoor ul li {
			float: left;
			border: 3px solid #FFF;
			width: 238px;
			height: 320px;
			position: relative;
			/* radius */
			border-radius: 7px;
				-ms-border-radius: 7px;
				-moz-border-radius: 7px;
				-webkit-border-radius: 7px;
		}
		
			.webdoor ul li:hover {
				border: 3px solid #CD3333;
			}
			.webdoor ul li:hover h2 a {
				opacity: 1;
				visibility: visible;
			}
			.webdoor ul li:hover .sombra-text {
				opacity: 1;
				visibility: visible;
			}
			
			.webdoor ul li img {
				width: 238px;
				height: 320px;
				/* radius */
				border-radius: 5px;
					-ms-border-radius: 5px;
					-moz-border-radius: 5px;
					-webkit-border-radius: 5px;
			}
			
			.webdoor h2 a {
				font: 1.2em/1.5em "OpenSansRegular";
				letter-spacing: -2px;
				bottom: 0;
				color: #FFF;
				display: block;
			    height: 105px;
			    left: 0;
			    padding: 0 16px;
			    position: absolute;
			    text-shadow: 1px 1px #333;
			    z-index: 3;
			    opacity: 0;
			    visibility: hidden;
			}
			
			.webdoor .sombra-text {
				background: url('../imagens/tira-webdoor.png') repeat-x bottom;
				width: 238px;
				height: 200px;
				position: absolute;
				bottom: 0px;
				z-index: 1;
				opacity: 0;
				visibility: hidden;
			}


/*---------- NAVEGACAO
----------------------------------------*/			
.nav {
    float: left;
    margin: 27px 0 0;
    padding: 10px 0 0;
    width: 978px;
}

	.nav ul {
	    border-bottom: 3px solid #666666;
	    border-top: 1px solid #E5E5E5;
	    float: left;
	    padding: 10px 0 0;
	    width: 100%;
	}

	.nav ul li {
		float: left;
		padding: 0 5px 3px 5px;
		margin: 0 5px 0 5px;
		font: 1em/1.5em "Chivo", Arial, Helvetica, Geneva, sans-serif;
	}

		.nav ul li:first-child {
			margin: 0 5px 0 0;
			padding: 0 5px 3px 0;
		}

		.nav ul li:last-child {
			margin: 0 0 0 5px;
			padding: 0 0 3px 5px;
		}
			
			
/*---------- CONTEUDO
----------------------------------------*/
#content {
	float: left;
	width: 100%;
}

	.conteudo {
		width: 640px;
		float: left;
	}
		
	
		.posts {
		    background: none repeat scroll 0 0 #F5F5F5;
		    border-radius: 3px 3px 3px 3px;
		    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.2);
		    float: left;
		    margin: 10px 0 60px;
		    padding: 15px;
		    width: 610px;
		}
		
			.posts:hover {
				/*background: #f5f5f5;*/
			}
		
			.materia-titulo {
				float: left;
				width: 100%;
				margin: 0 0 20px 0;
			}
			
			.data-postagem {
				border-top: 1px solid #e5e5e5;
				float: left;
				padding: 10px 0 0 0;
				width: 610px;
				font-size: .8em;
				margin: 0 0 30px 0;
			}
			
			.conteudo-posts {
				float: left;
				width: 610px;
			}
			
				.conteudo-posts p {
					margin: 0 0 20px 0;
					font: 1em/1.8em 'OpenSansRegular', sans-serif;
				}
				
				
			.tags {
				float: left;
				width: 100%;
				font-size: .7em;
			}
			
			
.google-adsense {
    border: 2px solid #ccc;
    float: left;
    height: 60px;
    margin: 0 0 30px 50px;
    text-align: center;
    width: 468px;
}


.wp_bannerize_A {
	float: left;
	width: 630px;
	height: 240px;
	margin: 10px 0 40px 0;
	position: relative;
}

	.wp_bannerize_A ul {
		float: left;
	}
	
		.wp_bannerize_A ul li {
			float: left;
			width: 63opx;
		}
		
		
	.nivo-controlNav {
		position: absolute;
		bottom: -20px;
		left: 50%;
	}
	
		.nivo-controlNav a {
			text-indent: -9999px;
			float: left;
			width: 10px;
			height: 10px;
			display: block;
			background: url('../imagens/buttons.png') no-repeat left top;
		}
		
			.nivo-controlNav a:hover {
				background: url('../imagens/buttons.png') no-repeat right top;
			}
			
				.nivo-controlNav a.active {
					background: url('../imagens/buttons.png') no-repeat right top;
				}
		
		

/*---------- SIDEBAR
----------------------------------------*/
.sidebar {
	float: right;
	width: 300px;
	margin: 10px 0 0 0;
}

	.widget-sidebar {
		float: left;
		width: 285px;
		margin: 0 0 50px 0;
		padding: 10px;
		background: #f5f5f5;
	}
	
	.widget-sidebar h3 {
		float: left;
		width: 100%;
		margin: 0 0 20px 0;
		font: 1.5em/1.5em "OpenSansRegular", Arial, Helvetica, Geneva, sans-serif;
	}

	.widget-sidebar ul {
		float: left;
		width: 300px;
		list-style: none;
	}
	
		.widget-sidebar ul li {
			float: left;
			padding: 20px 10px;
			width: 250px;
			border-top: 1px solid #e5e5e5;
			list-style: none;
		}


/*---------- PRÉ FOOTER
----------------------------------------*/
.pre-footer {
	float: left;
	width: 100%;
	padding: 20px 0;
	background: #EE3B3B;
}

	.pre-footer a {
		color: #FFF;
	}
	
		.pre-footer a:hover {
			color: #333;
		}
		
		.widget-footer {
		    float: left;
		    padding: 25px;
		    width: 275px;
		}
		
			.widget-footer h3 {
				float: left;
				width: 100%;
				margin: 0 0 20px 0;
				font: bold 1.5em/1.6em 'Coming Soon',arial,sans-serif;
			}
		
			.widget-footer ul {
				float: left;
				width: 300px;
				list-style: none;
			}
			
				.widget-footer ul li {
					float: left;
					padding: 15px 10px;
					width: 270px;
					border-top: 1px solid #B22222;
					list-style: none;
				}

/*---------- FOOTER
----------------------------------------*/
.footer {
	float: left;
	width: 100%;
	padding: 20px 0;
	background: #B22222;
}

	.copyright {
		color: #FFF;
		font-size: .8em;
		float: left;
		width: 700px;
	}

	.footer a {
		color: #FFF;
		font-size: 1em;
	}
	
		.footer a:hover {
			color: #FF6347;
			text-decoration: underline;
		}
 		
















