body {
  font-family: Dosis, sans-serif;
}
h1 {
  display: inline-block;
  margin-top: 300px;
  font-family: Dosis, sans-serif;
  font-size: 100px;
  line-height: 44px;
  font-weight: 300;
  text-transform: uppercase;
}
h2 {
  margin-top: 45px;
  margin-bottom: 40px;
  padding-right: 105px;
  padding-left: 105px;
  font-family:'Open Sans', sans-serif;
  color: gainsboro;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  text-transform: none;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  color: rgba(0, 0, 0, 0.49);
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
.button {
  display: inline-block;
  width: 100%;
  height: 50px;
  padding: 12px 20px;
  border: 2px solid gainsboro;
  border-radius: 6px;
  background-color: transparent;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: Dosis, sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover {
  padding-top: 14px;
  border-width: 0px;
  background-image: -webkit-linear-gradient(135deg, #ff2c55, #f8492c);
  background-image: -o-linear-gradient(45deg, #ff2c55, #f8492c);
  background-image: linear-gradient(45deg, #ff2c55, #f8492c);
}
.button.secondary {
  border-color: rgba(220, 220, 220, 0.49);
}
.logo {
  width: 150px;
  height: 40px;
  max-height: 40px;
  min-height: 0px;
  min-width: 0px;
  background-image: url('../images/front-in-bh-white.svg');
  background-size: 150px 40px;
  background-repeat: no-repeat;
}
.menu {
  height: 60px;
  margin-top: 20px;
}
.menu-bar {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.49);
  background-color: transparent;
  background-image: none;
  background-position: 0% 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
}
.menu-item {
  height: 40px;
  margin-left: 20px;
  padding: 8px 12px;
  border: 2px solid white;
  border-radius: 6px;
  background-color: transparent;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  font-family: Dosis, sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.menu-item:hover {
  border-width: 2px;
  background-color: white;
  color: #ff2c55;
}
.menu-item.secondary {
  border-color: rgba(255, 255, 255, 0.49);
}
.header {
  height: 600px;
  margin-top: -80px;
  background-image: url('../images/header.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.text {
  margin-top: 250px;
  text-align: center;
}
.text-image {
  opacity: 0.6;
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.text-image:hover {
  opacity: 1;
}
.main-text {
  background-color: #333;
}
.column-button {
  padding-left: 125px;
}
.column-button.right {
  margin-bottom: 55px;
  padding-right: 125px;
  padding-left: 10px;
}
.column-button.right.submit {
  margin-bottom: 30px;
}
.gradient-line {
  background-image: -webkit-linear-gradient(left, #ff2c55, #f8492c);
  background-image: -o-linear-gradient(left, #ff2c55, #f8492c);
  background-image: linear-gradient(to right, #ff2c55, #f8492c);
}
.form-input {
  height: 40px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.49);
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.09);
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: Dosis, sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.form-input:hover {
  border-color: white;
}
.form-input:focus {
  border-color: white;
}
.form-button {
  width: 100%;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid white;
  border-radius: 6px;
  background-color: transparent;
  -webkit-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  font-family: Dosis, sans-serif;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.form-button:hover {
  background-color: white;
  color: #ff2c55;
}
.form-row {
  margin-top: 45px;
  letter-spacing: 1.5px;
}
.form {
  font-family: Dosis, sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 300;
}
.success {
  margin-top: 45px;
  margin-bottom: 45px;
  border-radius: 6px;
}
.error {
  border-radius: 6px;
  background-color: lightpink;
}
.speakers {
  height: 800px;
  background-image: url('../images/foto-teste.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.speaker-photo {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('../images/foto-teste.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
html.w-mod-js *[data-ix="fade-in-slide-down"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  -o-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}
html.w-mod-js *[data-ix="fade-in-slide-down-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  -o-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

.main-speaker {
  background: #FFF;
  padding-bottom: 30px;
}

.main-speaker h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 400;
  color: #555;
}

.speaker li {
  margin: 20px 30px;
  width: 245px;
  list-style: none;
  float: left;
}

.speaker.apoio li {
  width: 170px;
  min-height: 100px;
}

.picture-speaker {
  width: 245px;
  height: 245px;
  text-align: center;
  border-radius: 3px;
}

.picture-speaker.picture-patro {
  height: auto;
  border-radius: 0;
}

.picture-speaker.picture-apo {
  width: 155px;
  height: auto;
  border-radius: 0;
}

.name-speaker {
  font-size: 30px;
  text-align: center;
  display: block;
  font-weight: 400;
}

.link-social {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  width: 85px;
  margin-top: 20px;
  margin-left: 20px;
  color: #555;
}

.description {
  font-size: 14px;
  text-transform: none;
}



@media (max-width: 991px) {
  .menu-bar {
    position: absolute;
  }
  .header {
    position: relative;
    background-position: 75% 0px;
    background-size: auto;
  }
  .button-sanduiche.w--open {
    background-color: transparent;
  }
}
@media (max-width: 767px) {
  h2 {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
  }
  .logo {
    width: 100%;
    background-position: 50% 50%;
  }
  .menu {
    height: 120px;
  }
  .menu-bar {
    height: 140px;
  }
  .menu-item {
    width: 35%;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .menu-item.secondary {
    width: 45%;
    margin-left: 10px;
  }
  .menu-item.secondary.idioma {
    width: 10%;
  }
  .menu-nav {
    width: 100%;
    margin-top: 20px;
    clear: left;
    background-color: transparent;
  }
  .header {
    height: 600px;
  }
  .text {
    margin-top: 185px;
  }
  .text-image {
    margin-bottom: 20px;
  }
  .column-button {
    margin-bottom: 20px;
    padding-left: 10px;
  }
  .column-button.right {
    padding-right: 10px;
  }
  .success {
    margin-right: 10px;
    margin-left: 10px;
  }
  .error {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media (max-width: 479px) {
  .logo {
    margin-bottom: 25px;
    margin-left: 0px;
  }
  .menu {
    margin-right: 10px;
    margin-left: 10px;
  }
  .menu-bar {
    height: 270px;
  }
  .menu-item {
    width: 100%;
    margin-bottom: 15px;
    margin-left: 0px;
  }
  .menu-item.secondary {
    width: 100%;
    margin-left: 0px;
  }
  .menu-item.secondary.idioma {
    width: 100%;
  }
  .menu-nav {
    margin-right: 0px;
  }
  .button-sanduiche {
    margin-top: -15px;
  }
  .text {
    margin-top: 310px;
  }
  .error {
    margin-right: 10px;
    margin-left: 10px;
  }
}