/*--------------- RESET
---------------------------------------*/
* {
	padding: 0px;
	margin: 0px;
	border: none;
	text-decoration: none;
}

/*--------------- ESTRUCTURE
---------------------------------------*/
html {
	background: url(../imagens/bg_html.png) repeat;
}

body {
	font-size: 12px;
	font-family: Arial, sans-serif;
}

.global {
	float: left;
	width: 100%;
	height: 100%;
	background: url(../imagens/bg_body.png) top center no-repeat;
}

.wrapper {
	width: 960px;
	padding: 0 90px;
	margin: 0 auto;
}

.lang {
	position: fixed;
	right: 50px;
	top: 0;
	padding: 10px;
	text-transform: uppercase;
	color: #FFF;
	background: #A7073E;
}

.lang:hover {
	background: #333;
	color: #FFF;
}

.top-lang {
	top: 105px !important;
}

p {
	font-size: 16px;
}

h2, h3 {
	text-transform: uppercase;
	color: #A7073E;
}

h2 {
	
	font-size: 2.2em;
	line-height: 2.5em;
	font-family: "NovecentowideDemiBoldRegular";
	
}

h3 {
	font-size: 1.8em;
	line-height: 2.5em;
	font-family: "NovecentowideLightRegular";
}
/*
.insc {
	font-size: 2.3em;
	font-weight: bold;
}

	.insc span {
		font-weight: normal;
		font-size: 1.9em;
	}
*/

.right {
	float: right !important;
}
/*
.left {
	float: left !important;
}
*/
/*.clear {
	clear: both !important;
}

*/
.padding0 {
	padding-top: 0 !important;
}

.short, .almoco, .infosConf {
	background: #FFFFF1;
}

.short {
	color: #715892;
}

.almoco {
	color: #75A93B;
}

.fimConf {
	color: #DA6B34;
}

.infosConf {
	color: #A7073E;
}



/*--------------- HEADER
---------------------------------------*/
.header {
	float: left;
	width: 100%;
}

.logo a {
	float: right;
	margin: 20px 0px;
	width: 436px;
	height: 113px;
	text-indent: -9999px;
	background: url(../imagens/logo.png) top left no-repeat;
}

.data {
	float: right;
	margin: 115px -60px 0 0;
	font-size: 18em;
	font-weight: bold;
	color: #A7073E;
	text-align: left;
	width: 260px;
	font-family: "NovecentowideMediumRegular";
}

	.data span {
		display: block;
		font-size: .2em;
		font-weight: bold;
		text-align: right;
		line-height: 0em;
	}

	.data em {
		font-size: 17px;
		font-weight: normal;
		line-height: 4em;
		display: block;
		text-align: right;
	}


.como-chegar a {
	float: left;
	color: white;
	width: 222px;
	margin: -10px 0 40px 175px;
	text-align: center;
}

	.como-chegar span {
		font-size: .8em;
		display: block;
	}

.sociais {
	float: left;
	width: 310px;
	clear: both;
	margin: 50px 0 0 170px;
}

	.sociais li {
		float: left;
		list-style: none;
	}



/*--------------- NAV
---------------------------------------*/
.nav {
	width: 220px;
	float: left;
	margin: 240px 0 0 0;
}

	.nav li {
		list-style: none;
		float: left;
		display: block;
		margin: 0 0 1px 0;
	}

	.nav li:hover {
		color: #333;
	}

		.nav li a {
			float: left;
			font-size: 1.4em;
			color: #a7073e;
			padding: 5px 10px;
		}

		.nav li.nav-evento {
			width: 150px;
			background: url(../imagens/nav/bg-menu-evento.png) top left no-repeat;
		}

		.nav li.nav-patrocinadores {
			width: 173px;
			background: url(../imagens/nav/bg-menu-patrocinadores.png) top left no-repeat;
		}

		.nav li.nav-palestras {
			width: 195px;
			background: url(../imagens/nav/bg-menu-palestras.png) top left no-repeat;
		}

		.nav li.nav-palestrantes {
			width: 220px;
			background: url(../imagens/nav/bg-menu-palestrantes.png) top left no-repeat;
		}

		.nav li.nav-inscricoes {
			width: 220px;
			background: url(../imagens/nav/bg-menu-inscricoes.png) top left no-repeat;
		}

		.nav li.nav-localEvento {
			width: 186px;
			background: url(../imagens/nav/bg-menu-localEvento.png) top left no-repeat;
		}

		.nav li.nav-contato {
			width: 150px;
			background: url(../imagens/nav/bg-menu-contato.png) top left no-repeat;
		}


.nfloat {
	position: fixed;
	top: 0;
	z-index: 99999;
	background: #222;
	width: 100%;
	float: left;
	display: none;
}

	.nfloat ul {
		width: 900px;
		margin: 0 auto;
		background: url(../imagens/bg_menu_float.png) left top no-repeat;
		height: 35px;
		padding: 35px 30px;
	}

	.nfloat ul li {
		float: left;
		margin: 5px 5px 0 35px;
		list-style: none;
	}

	.nfloat ul li:last-child {
		margin-right: 0px;
	}

	.nfloat ul li a {
		color: #FFF;
		font-size: 14px;
	}

		.nfloat ul li a:hover {
			color: #ed145b;
		}


/*--------------- CONTEUDO
---------------------------------------*/
.evento {
	float: right;
	width: 460px;
	text-align: right;
	margin-top: -60px;
}

	.evento p {
		color: #333;
		font-size: 1.4em;
		line-height: 1.5em;
	}

.valores {
	margin: 45px 50px 20px 30px;
	float: right;
	clear: both;
	text-align: left;
	width: 490px;
}

	.valores div {
		float: left;
		min-width: 160px;
		margin: 15px 50px 30px 0;
	}

	.valores p {
		color: #404041;
		font-size: 5.5em;
		float: right;
	}

	.valores span {
		font-family: "MS Trebuchet", sans-serif;
		font-weight: normal;
		font-size: 2.5em;
		text-align: right;
		float: left;
		margin: 15px 10px 0 20px;
	}

		.valores span em {
			font-weight: normal;
			display: block;
			font-size: .4em;
		}

	.valores .desconto em {
		width: 70px;
	}



.patrocinadores {
	float: left;
	position: relative;
}

.patrocinadores h2 {
	/*margin: 20px 0 0 140px;*/
}

	.patrocinadores ul {
		border-bottom: 1px solid #ed145b;
		padding: 10px 0;
		float: left;
		width: 635px;
	}

	.patrocinadores ul li {
		float: left;
		margin: 10px 10px 10px 0;
		list-style: none;
	}

	.patrocinadores ul li.sua-marca {
		border: 1px dashed #999;
		padding: 40px;
		text-align: center;
	}

		.sua-marca a {
			color: #333;
		}


	.patrocinadores ul.ouro {
		width: 660px;
	}

	.patrocinadores ul.prata {
		width: 785px;
	}


	.patrocinadores ul.bronze {
		width: 890px;
	}

	.patrocinadores ul.apoio {
		width: 955px;
	}

		.patrocinadores ul.apoio li.sua-marca, .patrocinadores ul.prata li.sua-marca, .patrocinadores ul.bronze li.sua-marca {
			padding: 30px;
		}


.inscricao {
	position: absolute;
	right: 100px;
	top: 0;
}

.palestras {
	float: left;
	width: 100%;
	margin: 20px 0 0 0;
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 18px;
  background: #FFF;

	font-weight: bold;
	font-size: 14px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
     -moz-border-radius: 0 0 0 4px;
          border-radius: 0 0 0 4px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

.palestrantes {
	float: left;
	width: 100%;
	margin: 20px 0px 40px 0px;
}

	.palestrantes article {
		float: left;
		width: 100%;
		margin: 10px 0px 0px 0px;
	}

	.cont_pal {
		width: 665px;
		margin: 15px 25px;
		float: left;
	}

	#sponsers article h2 {
		font-family: "NovecentowideLightRegular";
	}

	#sponsers article:nth-child(2n) {
		text-align: right;
	}

		#sponsers article:nth-child(2n) img {
			float: right;
			margin: 0 0 0px -25px;
		}

	.palestrantes img {
		float: left;
		margin: 0 -25px 0px 0px;
	}

.palestrantes a {
	color: #ed145b;
	font-weight: bold;
}


.local {
	margin: 20px 0px 40px 0px;
	float: left;
	width: 100%;
}

.contato {
	float: left;
	width: 100%;
	margin: 20px 0px 40px 0px;
}

	.contato input[type="text"], input[type="submit"], textarea {
		float: left;
		margin: 10px 3% 15px 0;
		padding: 15px;
		height: 20px;
		width: 44%;
		background: #d8d8d8;
		color: #333;
		font-size: 2em;
		font-family: Helvetica, Arial, sans-serif;
	}

	.contato input[type="text"]:nth-child(2n) {
		margin-right: 0;
	}

	.contato textarea {
		height: 300px;
		width: 94%;
	}

	.contato input[type="submit"] {
		float: right;
		margin: 20px 30px 40px 0px;
		border-radius: 5px;
		background: #ed145b;
		color: #FFF;
		text-transform: uppercase;
		width: 15%;
		height: 50px;
		cursor: pointer;
		width: 180px;
	}

		.contato input[type="submit"]:hover {
			opacity: 0.8;
			-moz-opacity: 0.8;
			filter:alpha(opacity=8);
		}


	#inscricoes p a {
		color: #ed145b;
	}

	.contato .bt_inscricao {
		margin: 45px 45% !important;
	}

input.error, textarea.error {
	background: #A7073E !important;
	color: #FFF;
}

label.error {
	position: absolute;
	width: 0%;
	top: -500%;
	left: -600%;
}
#map-canvas { 
	height: 350px;
	width: 940px;
}

.local .ver-maps{
	color: #A7073E;
}









