/*---------------- ESTRUTURA PADRÃO ---------------------
--------------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}  
                
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}

/*---------------- ESTRUTURA GERAIS -----------------------
--------------------------------------------------------*/
html {
    background: #f1f1f1 url(../imagens/bg.png) top no-repeat;
    overflow-x: hidden;
}

.wharper {
    width: 960px;
    margin: 0 auto;
}

@font-face {
    font-family: 'NeoSansStdMediumItalic';
    src: url('../fontes/neosansstd-mediumitalic-webfont.eot');
    src: url('../fontes/neosansstd-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fontes/neosansstd-mediumitalic-webfont.woff') format('woff'),
         url('../fontes/neosansstd-mediumitalic-webfont.ttf') format('truetype'),
         url('../fontes/neosansstd-mediumitalic-webfont.svg#NeoSansStdMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

h2 {
    color: #ed145b;
    font: 3em/1em 'NeoSansStdMediumItalic', arial, serif;
    margin-bottom: 0.2em;
    text-shadow: 0 1px 0 #333;
}

h2.path2 {
    font: 1em/0.5em 'NeoSansStdMediumItalic', arial, serif !important;
    color: #ed145b;
    text-shadow: 0 1px 0 #333;
    margin: 10px 0;
    float: right;
}

p {
    color: #333;
    font: 0.9em Arial, serif;
    line-height: 1.5em;
}

a {
    color: #ed145b;
    text-decoration: none;
}

a:link {
	-moz-transition: color 300ms ease-out 0s;
	-webkit-transition: color 300ms ease-out 0s;
}

ul {
    float: left;
    display: inline;
    width: 100%;
    margin: 10px;
}

ul li {
    list-style: circle;
    color: #ed145b;
}

ul li p {
    color: #333;
    font: 0.9em Arial, serif;
    line-height: 1.5em;
}

ul li p span {
    font-size: 0.7em;
}

/*---------------- ESTRUTURA HEADER ----------------------
--------------------------------------------------------*/
header {
    width: 960px;
    float: left;
    display: inline;
    height: 485px;
}

.CurtirPost {
    display: inline;
    float: left;
    margin-right: 10px;
    width: 105px;
}

.LikePost {
    display: inline;
    float: left;
    margin: 0 0 20px;
    width: 85px;
}

h1.logo a {
    float: left;
    display: inline;
    margin: 10% 25%;
    width: 448px;
    height: 115px;
    text-decoration: none;
    text-indent: -9999px;
    background: url(../imagens/logo.png) top no-repeat;
}

/*---------------- ESTRUTURA CONTEUDO --------------------
--------------------------------------------------------*/
#main {
    float: left;
    display: inline;
    padding: 10px;
    width: 540px;
	position: relative;
}

section {
    float: left;
    display: inline;
    width: 100%;
    margin: 0 0 40px 0;
}

#acordion a { 
    display: block;  
    padding: 5px 0 5px 0; 
    text-decoration: none;
    color: #333;
    font: 2em/1em 'NeoSansStdMediumItalic', arial, serif;
    margin-bottom: 0.2em; 
    width: 100%;
    float: left;
    display: inline;
    text-shadow: 0 1px 0 #333;
    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    transition: all 0.15s linear;
    cursor: pointer;
}

    
    #acordion a:hover { 
        text-decoration: none; 
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
 
    #acordion h2 a.selected { color: #dddddd !important; }

    #acordion div {
        margin: 0 0 20px 0;
        float: left;
        display: inline;
    }
    
    #acordion div span {
        font: 1em 'NeoSansStdMediumItalic',arial,serif;
        margin-bottom: 10px;
        float: left;
        width: 100%;
        /*display: none;*/
    }
    
    #acordion a span {
        font: 0.4em 'NeoSansStdMediumItalic',arial,serif;
        margin-bottom: 10px;
        float: left;
        width: 100%;
        color: #ed145b;
        text-shadow: 0 1px 0 #FFF;
    }
    
    #seta {
        float: right;
            margin: -15px 150px 0;
    }
    
/*---------------- ESTRUTURA FORMULARIO ------------------
--------------------------------------------------------*/
.btn_inscricao a {
    background: none repeat scroll 0 0 #ED145B;
    color: #FFFFFF;
    cursor: pointer;
    display: inline;
    float: left;
    font: 1.5em 'NeoSansStdMediumItalic',arial,serif;
    padding: 5px;
    text-align: center;
    text-shadow: 0 1px 0 #333333;
    width: 160px !important;
    margin: 20px 50px 0 0;
}

.dataEvento a {
    background: none repeat scroll 0 0 #e5e5e5;
    color: #ED145B;
    cursor: pointer;
    display: inline;
    font: 1.5em 'NeoSansStdMediumItalic',arial,serif;
    padding: 5px;
    text-align: center;
    text-shadow: 0 1px 0 #333333;
    margin: -20px 0 0 220px;
	width: 500px;
	float: left;
}

form {
    display: inline;
    float: left;
    padding: 15px 15px 15px 0;
    width: 520px;
}

    form input {
        width: 540px;
        height: 40px;
        background: #FFF;
        border: #c5c5c5;
        padding: 5px;
        color: #333;
        font: 1em 'NeoSansStdMediumItalic',arial,serif;
        margin: 0 0 25px 0;
    }
    
    form textarea {
        width: 540px;
        height: 180px;
        background: #FFF;
        border: #c5c5c5;
        padding: 5px;
        color: #333;
        font: 1em 'NeoSansStdMediumItalic',arial,serif;
        margin: 0 0 25px 0;
    }
    
    .botao {
        padding: 5px;
        float: left;
        display: inline;
        color: #FFF;
        text-align: center;
        background: #ed145b;
        font: 1.5em 'NeoSansStdMediumItalic',arial,serif;
        width: 100px !important;
        cursor: pointer;
        text-shadow: 0 1px 0 #333;
    }
    
    #news {
        float: left;
        display: inline;
        margin: 20px 0;
    }
    
        #news input {
            width: 290px;
        }


/*---------------- ESTRUTURA SIDEBAR ---------------------
--------------------------------------------------------*/
aside {
    float: right;
    display: inline;
    width: 300px;
    margin: -60px 0 0;
}

    #twitter {
        float: left;
        display: inline;
        padding: 15px;
        width: 270px;
        background: #FFF;
        position: relative;
    }
    
        #twitter ul {
            float: left;
            display: inline;
            width: 100%;
            margin: 0;
        }
        
        #twitter ul li {
            float: left;
            display: inline;
            list-style: none;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid #c5c5c5;
            width: 270px;
        }
        
        #twitter ul li {
            color: #ed145b;
            color: #333;
            font: italic 0.9em Arial, serif;
            line-height: 1.5em;
        }
        
        #twitter ul li a {
            color: #ed145b !important;
            color: #333;
            font: italic 0.9em Arial, serif;
            line-height: 1.5em;
        }
        
        #twitter ul li a:hover {
            color: #333 !important;
            text-decoration: underline;
        }
        
        
    #facebook {
        float: left;
        display: inline;
        padding: 15px;
        width: 270px;
        background: #FFF;
        position: relative;
    }
    
    .plusOne {
        display: inline;
        float: left;
        width: 85px;
    }


.bottomIcone {
    bottom: -73px;
    left: -52px;
    position: absolute;
}

/*---------------- ESTRUTURA FOOTER ----------------------
--------------------------------------------------------*/
footer {
    width: 100%;
    float: left;
    height: 350px;
    display: inline;
    clear: both;
    background: url(../imagens/bg_rodape.png) bottom no-repeat;
}

    
    h2.h2Torto {
        float: left;
        font-size: 1.8em !important;
        margin: -25px 0 40px;
        width: 100%;
    }
    
    .patrocinadores {
        float: left;
        display: inline;
        width: 300px;
    }
    
        .patrocinadores h2 {
            color: #ED145B;
            font: 2.5em/1em 'NeoSansStdMediumItalic',arial,serif;
            margin-bottom: 1.2em;
            text-shadow: 0 1px 0 #333333;
        }
    
        .patrocinadores ul {
            float: left;
            display: inline;
            width: 300px;
        }
        
        .patrocinadores ul li {
            float: left;
            display: inline;
            list-style: none;
            padding: 10px;
            background: #FFF;
            margin: 0 0 20px 0;
            width: 280px;
            text-align: center;
        }
        
        .patrocinadores ul li img {
            height: 100px;
            margin: 10px 15%;
            text-align: center;
            width: 180px;
        }
        
        .patrocinadores ul li a {
            -webkit-transform: rotate(-4deg);
            -moz-transform: rotate(-4deg);
            -o-transform: rotate(-4deg);
        }
        
        .patrocinadores ul li a:hover, .patrocinadores ul li a:focus {
            z-index: 10;
            -moz-transition: all .6s ease-in-out;
            -moz-transform: rotate(0deg) scale(1.10);
            -webkit-transition: all .6s ease-in-out;
            -webkit-transform: rotate(0deg) scale(1.10);
            -o-transition-duration: all .6s ease-in-out;
            -o-transform: rotate(0deg) scale(1.10);
        }



		#programacao {
		    width: 100%;
		}
		#programacao th, #programacao td {
		    width: 30%;
			font: 12px 'NeoSansStdMediumItalic',arial,serif;
		}
		#programacao th {
		    background: none repeat scroll 0 0 #ED145B;
		    color: #FFFFFF;
		    font: 14px 'NeoSansStdMediumItalic',arial,serif;
		    padding: 10px;
		    text-align: center;
		}
		#programacao td.linha01 {
		    background: none repeat scroll 0 0 #E6E6E6;
		    padding: 10px;
		    text-align: center;
		}
		#programacao td.linha02 {
		    background: none repeat scroll 0 0 #dcdcdc;
		    padding: 10px;
		    text-align: center;
		}
		
		
		.link {
		    float: left;
		    margin: 10px 39%;
		    text-align: center;
		    width: 100px;
			font: 14px 'NeoSansStdMediumItalic',arial,serif;
		}
		
		
		.box {
			position: absolute;
			z-index: 9999;
			width:640px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			background: #FFF;
			padding: 25px;
			top: 150px;
			left: 20px;
			display: none;
		}
		
			.box h2 {
				text-align: center;
			}
			
			.box span {
			    color: #ED145B;
			    font: 1em 'NeoSansStdMediumItalic',arial,serif;
			    margin-bottom: 10px;
			    text-shadow: 0 1px 0 #FFFFFF;
				text-align: center;
				width: 100%;
				float: left;
			}
			
		
			.fechar a {
			    background: none repeat scroll 0 0 #FFFFFF;
			    border: 1px solid;
			    border-radius: 20px;
				-moz-border-radius: 20px;
				-webkit-border-radius: 20px;
			    color: #ED145B;
			    font: 2em 'NeoSansStdMediumItalic',arial,serif;
			    margin-bottom: 10px;
			    position: absolute;
			    right: -5px;
			    text-align: center;
			    text-shadow: 0 1px 0 #FFFFFF;
			    top: -5px;
			    width: 40px;
			}










