@charset "utf-8";
/* CSS Document */

/*Reset*/
* {margin:0; padding:0; list-style-type:none; text-decoration:none; border:0;}
body {font-family:Arial, Helvetica, sans-serif; font-size:10px;}
img, input, label {vertical-align: middle;}
/* fixing firefox bug */
div:after, ol:after, li:after, form:after, ul:after, dl:after,q:after {content:".";display:block;clear:both;visibility:hidden;height:0;overflow:hidden;}
hr {display:none;}
div {height:auto;}
.separator {margin-bottom: 30px !important;}
.noborder {border:0 !important;}

/*Style*/
.wrapper {overflow:hidden;}

.top {background:#1b1b1b; padding:25px 10px;}
.top h1 {color:#fff; font-size:3.2em; float:left; font-family:Tahoma, Geneva, sans-serif}
.top h1 span {font-size:.8em; font-weight: normal;}


.content {padding:20px;}
.content h2 {font-size:1.7em;padding:10px 0; color:#434343; border-bottom:2px solid #b5b5b5;}
.content h3 {font-size:1.3em;padding:10px 0; color:#7d7d7d; border-bottom:1px solid #d2d2d2;}
.atributos {font-size:0.7em;} 

form { font: 1em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; }
form li { width: auto; }
form input { padding: 5px; border: 1px solid #e5e5e5; }
form input[type="submit"] { padding: 10px 20px; text-align: center; font: bold 1.3em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; background: #87CEEB; cursor: pointer; }
form input[type="submit"]:hover{ color: #FFF; }

.admin { padding: 20px; width: 450px; }
.admin:hover { background: #f6feff; }
.admin strong { width: 30%; text-align: right; padding: 0 10% 0 0; }
.admin input { width: 60%; float: right; }
.admin dd { float: left; width: 100%; margin: 5px 0; }

.itens {padding:20px 0 0 25px;margin-left:-20px; }
.itens>li {width:220px; min-height:170px; float:left;list-style: lower-latin inside;font-size:1.8em;color:#c00; margin-left:20px;padding:5px;}
.itens>li:hover {background:#f6feff;padding:4px;border:1px solid #cee1e7}
.itens>li>dl {font-size:.55em;    margin-left: 22px;    position: relative;    top: -18px;}

.lista-itens dd {font-size:1.2em; line-height:2em; color:#434343;}
.lista-itens dt {font-size:1.3em; font-weight:bold; color:#333;}

.color {display:inline-block; border:1px solid #CCC; width:15px; height:15px; margin:0 5px -2px;}
strong {color:#7D7D7D;}

.footer {background:#1b1b1b; padding:25px 10px;}
.creditos {color:#ccc; font-size:1.2em; float:right; margin-right:10px; }