
/***********
	CSS RESET
************/
* {	margin: 0;	padding: 0;	list-style: none;	border: 0;	text-decoration: none;}
img, input, label {vertical-align: middle;}
h1, h2, h3, h4, h5, h6 {font-size:100%; line-height:1em;}

/* just for acessibility */
.jfa {position:absolute; left:0px;top:0px; width:0px; height:0px; visibility:hidden;}

/* align */
.right{display: inline; float:right !important;}
.left{display: inline; float:left !important;}
.alpha {margin-left:0 !important;padding-left:0 !important;}
.omega {margin-right:0 !important;padding-right:0 !important;}
.clear {clear:both !important;}
.tx-right {text-align: right;}
.tx-left {text-align: left;}
.imgright{display: inline; float:right !important;margin-left: 10px;margin-bottom: 10px;}
.imgleft{display: inline; float:left !important;margin-right: 10px;margin-bottom: 10px;}

/* border and corner radius */
.corner {-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
.top-corner {-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;}
.bottom-corner {-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;}


/* separator */
.sep {margin-bottom: 40px !important;}
hr {display: none;}

/* fixing firefox bug */
html:after, div:after, ol:after, li:after, form:after, ul:after, dl:after {content:".";display:block;clear:both;visibility:hidden;height:0;overflow:hidden;}


/***********
	TEXT ELEMENTS
************/
h2, h3, h4 {
	font-size:2.6em;
	line-height:1.2em;
	font-weight: normal;
	margin-bottom:.8em;
	letter-spacing: -.03em;
	color:#2b2b2b;
	text-transform: uppercase;
	font-family: 'Coming Soon', arial, sans-serif;
}
h3 {
	font-size:1.6em;
	margin-bottom:.4em;
	font-weight: bolder;
}
h4 {font-size:2em;}
p {
	font-size:1.6em;
	line-height: 1.3em;
	font-weight: normal;
	margin-bottom:2em;
	letter-spacing: -.015em;
	color:#777;
}
.call-action {
	display: block;
	text-align:center;
	height:auto;
}

/* escondendo call */
.no-call-action {
	display: block;
	text-align:center;
	height:auto;
	padding: 25px 50px 15px;
	background:#de6c00;
	border:1px solid #de6c00;
	/* radius */
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	/* degradee */
	background: -moz-linear-gradient(top, #fe8500 40%, #de6c00);
	background: -webkit-linear-gradient(top, #fe8500 40%, #de6c00);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe8500', endColorstr='#de6c00');
	/* shadow */
	-moz-box-shadow: 0 3px 1px rgba(0,0,0,.1),  inset 0 1px 0 rgba(255,255,255,.4);
	-webkit-box-shadow: 0 3px 1px rgba(0,0,0,.1),  inset 0 1px 0 rgba(255,255,255,.4);
	box-shadow: 0 3px 1px rgba(0,0,0,.1),  inset 0 1px 0 rgba(255,255,255,.4);
	/* transition */
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition: all 0.3s ease-out;  /* FF4+ */
	-ms-transition: all 0.3s ease-out;  /* IE10? */
	-o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
	transition: all 0.3s ease-out; 
}
.no-call-action:focus, .no-call-action:hover {
	/* transition */
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition: all 0.3s ease-out;  /* FF4+ */
	-ms-transition: all 0.3s ease-out;  /* IE10? */
	-o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
	transition: all 0.3s ease-out; 
	background:#ff9600;
	/* degradee */
	background: -moz-linear-gradient(top, #ff9600 40%, #d98000);
	background: -webkit-linear-gradient(top, #ff9600 40%, #d98000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9600', endColorstr='#d98000');
	/* shadow */
	-moz-box-shadow: 0 3px 1px rgba(0,0,0,.2),  inset 0 1px 0 rgba(255,255,255,.4);
	-webkit-box-shadow: 0 3px 1px rgba(0,0,0,.2),  inset 0 1px 0 rgba(255,255,255,.4);
	box-shadow: 0 3px 1px rgba(0,0,0,.2),  inset 0 1px 0 rgba(255,255,255,.4);
}
.no-call-action strong {
	display: block;
	height:auto;
	font-size: 3.2em;
	letter-spacing: -.025em;
	line-height: 1.1em;
	font-weight: normal;
	color:#fff;
	text-transform: uppercase;
	margin-bottom:.3em;
}
.no-call-action span {
	display: block;
	height:auto;
	font-size: 1.4em;
	line-height: 1.1em;
	color:#fff;
	text-transform: uppercase;
}


/***********
	STRUCTURE
************/
html {background: #fff url(../img/bg.jpg) repeat-x center top;}
body {
	background:#fff;
	font: normal normal 10px/ 1.2em arial;
	color:#777;
	overflow-x: hidden;
	z-index:1;
	background: transparent url(../img/bg-page.png) repeat-x center 228px;
}
.wrapper {
	width:960px;
	margin: 0 auto;
	padding: 0 20px;
}
.topbar {
	background:#2b2b2b;	
	padding: 10px 0;
	position:relative;
	z-index:2;
}
.header {
	margin-bottom: 50px;	
	min-height:367px;
	width:100%;
}
.video {
	clear:both;
	height:auto;
	position:relative;
	z-index:2;
}
.benefits {
	clear:both;
	height:auto;
	background:#fff url(../img/bg-benefits.jpg) repeat-x left top;
	position:relative;
	top:-27px;
	z-index:1;
	padding: 80px 0 40px;
}
.seminarist {
	clear:both;
	height:auto;
	background:#2b2b2b;
	padding:30px 0;
}
.partners {
	clear:both;
	height:auto;
	background:#f7fcfe;
	padding:60px 0;
}


/***********
	TOPBAR
************/
.topbar span{
	font-size:1.4em;
	color:#ccc;
}
.topbar span a{
	color:#f5f5f5;
}
.topbar span a:hover, .topbar span a:focus{text-decoration: underline;color:#bfde66;}
.topbar .date-local {
	float:left;
}
.topbar .more-info {
	float:right;
}



/***********
	HEADER
************/
.header .wrapper {position:relative;}
.logo {
	float:left;
	position:relative;
	z-index:2;
	top:30px;
}
.logo a{
	display:block;
	height: 101px;
	width:166px;
	overflow: hidden;
	text-indent: -999px;
	background:transparent url(../img/cow-logo.png) no-repeat left top;
}
.presentation {
	width:375px;
	height:100%;
	position:relative;
	z-index:2;
	top:90px;
	float:right;
}
.presentation h1 {
	font-size:3.6em;
	line-height: 1.1em;
	font-weight: 400;
	margin-bottom:.2em;
	letter-spacing: -.025em;
	color:#2b2b2b;
	text-transform: uppercase;
	font-family: 'Coming Soon', arial, sans-serif;
}
.presentation p {
	font-size:1.4em;
	line-height: 1.6em;
	margin-bottom:1.8em;
	letter-spacing: -.01em;
	color:#2b2b2b;
}
.draw-cow {
	width:285px;
	height:358px;
	background:transparent url(../img/cow.png) no-repeat left top;
	z-index:2;
	position:absolute;
	top:90px;
	left:135px;
	overflow: hidden;
}
.draw-eyes {
	position:absolute;
	left:135px;
	top:53px;
	z-index:1;
	width:69px;
	height:41px;
	background:transparent url(../img/cow-eyes.png) no-repeat 0 -200px;
	/* animation */
	-webkit-animation: eyes 4s infinite step-start 0s;
	-moz-animation: eyes 4s infinite step-start 0s;
	-ms-animation: eyes 4s infinite step-start 0s;
	animation: eyes 4s infinite step-start 0s;
}
.draw-cloud-1 {
	position:absolute;
	top:20px;
	z-index:1;
	left:120%;
	width:125px;
	height:90px;
	background:transparent url(../img/cloud-01.png) no-repeat left top;
	/* animation */
	-webkit-animation: cloud 40000ms infinite normal linear -5s;
	-moz-animation: cloud 40000ms infinite normal linear -5s;
	-ms-animation: cloud 40000ms infinite normal linear -5s;
	animation: cloud 40000ms infinite normal linear -5s;
}
.draw-cloud-2 {
	position:absolute;
	top:190px;
	z-index:-1;
	width:96px;
	height:71px;
	background:transparent url(../img/cloud-02.png) no-repeat left top;
	/* animation */
	-webkit-animation: cloud2 70000ms infinite normal linear -5s;
	-moz-animation: cloud2 70000ms infinite normal linear -5s;
	-ms-animation: cloud2 70000ms infinite normal linear -5s;
	animation: cloud2 70000ms infinite normal linear -5s;
}
/* eyes */
@-webkit-keyframes eyes {
   0%, 100% {
	background-position: 0 0;
   }
   15%, 95% {
	background-position: 0 -200px;
   }
}
@-moz-keyframes eyes {
   0%, 100% {
	background-position: 0 0;
   }
   15%, 95% {
	background-position: 0 -200px;
   }
}
@-ms-keyframes eyes {
   0%, 100% {
	background-position: 0 0;
   }
   15%, 95% {
	background-position: 0 -200px;
   }
}
@keyframes eyes {
   0%, 100% {
	background-position: 0 0;
   }
   15%, 95% {
	background-position: 0 -200px;
   }
}
/* cloud 1 */
@-webkit-keyframes cloud {
   0%{
      left:100%;
   }
   100% {
      left:-10%;
   }
}
@-moz-keyframes cloud {
   0%{
      left:100%;
   }
   100% {
      left:-10%;
   }
}
@-ms-keyframes cloud {
   0%{
      left:100%;
   }
   100% {
      left:-10%;
   }
}
@keyframes cloud {
   0%{
      left:100%;
   }
   100% {
      left:-10%;
   }
}
/* cloud 2 */
@-webkit-keyframes cloud2 {
   0%{
      left:150%;
   }
   100% {
      left:-20%;
   }
}
@-moz-keyframes cloud2 {
   0%{
      left:150%;
   }
   100% {
      left:-20%;
   }
}
@-ms-keyframes cloud2 {
   0%{
      left:100%;
   }
   100% {
      left:-20%;
   }
}
@keyframes cloud2 {
   0%{
      left:150%;
   }
   100% {
      left:-20%;
   }
}




/***********
	VIDEO
************/
.video .wrapper {
	background: transparent url(../img/arrows.png) no-repeat 390px 20px;
	padding: 70px 0 0;
}
.video p {
	width:333px;
	float:left;
	height: 204px;
	padding: 30px 30px 0 40px;
	color:#fff;
	line-height:1.1em;
	letter-spacing: -.02em;
	font-size: 3.3em;
	text-transform: uppercase;
	font-family: 'Coming Soon', arial, sans-serif;
	background:transparent url(../img/mancha-video.png) no-repeat left top;
}
.video p em {
	line-height:.9em;
	font-size: 1.2em;
	letter-spacing: -.01em;
	font-style: normal;
	font-weight: bolder;
}
.video p strong {
	line-height:.9em;
	font-size: 1.4em;
	letter-spacing: -.01em;
	margin-left:-10px;
}
.video p a {
	color:#6c8424;
	text-decoration: none;
}
.video p a:focus, .video p a:hover {
	text-decoration: underline;
}
.video .player {
	width:360px;
	padding: 1px 1px 0 32px;
	height:274px;
	float:right;
	background:transparent url(../img/bg-player.png) no-repeat left top;
	position:relative;
	top:18px;
}





/***********
	BENEFITS
************/
.informacao {margin-bottom:40px;position:relative;}
.informacao h2 {margin-bottom:.3em;}
.informacao p {margin-bottom:1em;}
.informacao p strong {color:#2b2b2b;}
.informacao a{text-decoration: underline;color:#bfde66;}
.benefits ul {}
.benefits ul li {
	float:left;
	width:226px;
	height:100%;
	padding-left: 74px;
	padding-right:14px;
	border-right:1px solid #e9e9e9;
	margin-right:15px;
}
.benefits ul li:last-child {
	padding-right:0;
	border-right:none;
	margin-right:0;
}
.benefits ul li p{
	font-size:1.3em;
	margin:0;
}
.ben-01 {background:transparent url(../img/icon-certificado.png) no-repeat left top;}
.ben-02 {background:transparent url(../img/icon-pratica.png) no-repeat left top;}
.ben-03 {background:transparent url(../img/icon-material.png) no-repeat left top;}





/***********
	TESTIMONIALS
************/
.testimonials {
	background:#f7fcfe;
	border-top:1px solid #bedce8;
	padding: 30px 0 60px;
}
.testimonials ul {margin:0 0 30px -30px;}
.testimonials ul li {
	float:left;
	width:258px;
	padding:20px 20px 0px;
	height:auto;
	margin:0 0 30px 30px;
	border:1px solid #e3f0f5;
	background:#fff;
	position:relative;
	z-index:1;
	/* radius */
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px; 
	/* transition */
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition: all 0.3s ease-out;  /* FF4+ */
	-ms-transition: all 0.3s ease-out;  /* IE10? */
	-o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
	transition: all 0.3s ease-out; 
	/* transform */
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
			  
}
.testimonials ul li:hover {
	z-index:2;
	/* transition */
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
	-moz-transition: all 0.3s ease-out;  /* FF4+ */
	-ms-transition: all 0.3s ease-out;  /* IE10? */
	-o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
	transition: all 0.3s ease-out; 
	/* transform */
	-moz-transform: rotate(3deg) scale(1.2);
	-webkit-transform: rotate(3deg) scale(1.2);
	-ms-transform: rotate(3deg) scale(1.2);
	-o-transform: rotate(3deg) scale(1.2);
			  
}
.testimonials ul li p{
	font-size:1.3em;
	line-height:1.6em;
	margin-bottom:1.2em;
}
.testimonials ul li p strong{color:#2b2b2b;}
.testimonials ul li p a{color:#bfde66;}
.testimonials ul li p a:hover, .testimonials ul li p a:focus{text-decoration: underline;}


.testimonials form {
	float:left;
	display: inline-block;
	width: 375px;
}
.testimonials .vagas {
	float:left;
	display: block;
	width:175px;
	height:80px;
	font-size:3.6em;
	line-height:1em;
	color:#bbb;
	text-align:right;
	padding:10px 30px;
	margin-right:30px;
	border-right:1px solid #e9e9e9;
}
.testimonials .vagas span{
	display: block;
	height:auto;
	color:#999;
}
.testimonials .date-local {
	float:left;
	display: block;
	height:80px;
	/*width:225px;*/
	font-size:1.6em;
	line-height:1.2em;
	color:#999;
	padding:10px 30px;
	margin-left:30px;
	/*border-left:1px solid #e9e9e9;*/
}
.testimonials .date-local address{
	font-style: normal;
	color:#999;
	margin-bottom:.6em;
}
.testimonials .date-local a{
	font-size:.8em;
	color:#2b2b2b;
	text-decoration: underline;
}
.date-local a:hover {color:#bfde66 !important;}








/***********
	SEMINARIST
************/
.seminarist img {
	float:left;
	margin-right: 30px;
}
.seminarist div div {
	float: left;
	height:100%;
	width:760px;
}
.seminarist h2 {
	font-size:2.8em;
	letter-spacing: 0;
	color:#ccc;
	margin-bottom:.2em;
	font-family: 'Coming Soon', arial, sans-serif;
}
.seminarist p {
	font-size:1.3em;
	line-height: 1.4em;
	color:#bbb;
	margin-bottom:.8em;
}
.seminarist h2 a{color:#e9e9e9;}
.seminarist h2 a:hover, .seminarist h2 a:focus{text-decoration: underline;color:#bfde66;}







/***********
	PARTNERS
************/
.partners ul {
	margin-left: -50px;
}
.partners li {
	width:200px;
	float:left;
	margin: 0 0 50px 50px;
}



/* social media */
.socialmedia {
	position:absolute;
	right:0;
	top:0;
	width: 275px;
}
.socialmedia>div {
  float:left;
  top:-8px;
  position:relative;	
}





/***********
	NINJA
************/
.ninja {
	
}

.ninja .flash{
	background:transparent;
	position:fixed;
	width:0;
	height:0;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:9;
	/* animation */
	-webkit-animation: flash 300ms 1 step-start 0s;
	-moz-animation: flash 300ms 1 step-start 0s;
	-ms-animation: flash 300ms 1 step-start 0s;
	animation: flash 300ms 1 step-start 0s;
}/* eyes */
@-webkit-keyframes flash {
   0%, 40%, 80%, 100% {
	width:0;
	height:0;
	background:transparent;
   }
   15%, 65%{
	width: 100%;
	height:100%;
	background:#fff;
	background:rgba(255,255,255,1);
   }
   95% {
	width: 100%;
	height:100%;
	background:#fff;
	background:rgba(255,255,255,.8);
   }
}
@-moz-keyframes flash {
   0%, 40%, 80%, 100% {
	width:0;
	height:0;
	background:transparent;
   }
   15%, 65%{
	width: 100%;
	height:100%;
	background:#fff;
	background:rgba(255,255,255,1);
   }
   95% {
	width: 100%;
	height:100%;
	background:#fff;
	background:rgba(255,255,255,.8);
   }
}
@-ms-keyframes flash {
   0%, 40%, 80%, 100% {
	width:0;
	height:0;
	background:transparent;
   }
   15%, 65%{
	width: 100%;
	height:100%;
	background:#fff;
	background:rgba(255,255,255,1);
   }
   95% {
	width: 100%;
	height:100%;
	background:#fff;
	background:rgba(255,255,255,.8);
   }
}
@keyframes flash {
   0%, 40%, 80%, 100% {
	width:0;
	height:0;
	background:transparent;
   }
   15%, 65%{
	width: 100%;
	height:100%;
	background:#fff;
	background:rgba(255,255,255,1);
   }
   95% {
	width: 100%;
	height:100%;
	background:#fff;
	background:rgba(255,255,255,.8);
   }
}

html.ninja {background: #fff url(../img/bg-ninja.jpg) repeat-x center top;}
.ninja body {background: transparent url(../img/bg-page-ninja.png) repeat-x center 228px;}
.ninja .draw-cow {
	width:459px;
	height:366px;
	background:transparent url(../img/cow-ninja.png) no-repeat left top;
	z-index:10;
}
.ninja .draw-eyes {display: none;}
.ninja .draw-cloud-1 {background:transparent url(../img/cloud-01-ninja.png) no-repeat left top;}
.draw-cloud-2 {background:transparent url(../img/cloud-02-ninja.png) no-repeat left top;}
.ninja .presentation * {color:#fff !important;}